[2016-01-08 15:57] ukutaht opened #4 "Handle compile errors more gracefully"
When the user saves a file with a compile error, the auto-runner does the right thing and keeps running, but the error is a bit scary:

<img width="943" alt="screen shot 2016-01-08 at 15 54 37" src="https://cloud.githubusercontent.com/assets/3731516/12202192/6b6c5966-b620-11e5-9f07-0297cd91e4bc.png">

Most of this is irrelevant to the user and we should be able to get rid of it.

[2016-01-08 15:59] ukutaht opened #5 "Koans about functions"

[2016-01-08 15:59] heruku opened #6 "Koans about maps"

[2016-01-08 15:59] heruku opened #7 "Koans abouts strings"

[2016-01-08 15:59] ukutaht opened #8 "Koans about pattern matching"

[2016-01-08 16:02] heruku opened #9 "Allow blanks in the koans"
In the spirit of koans, we need to leave a blank inside every koan that users need to fill out. My thought is to make double underscore: `__` signify a blank. There should be some crazy macro tricks to allow this while making the runner still print the line and give nice output.

[2016-01-08 16:04] ukutaht opened #10 "Automatic screen clearing"
The UX could be improved by clearing the screen and always showing failures in one place on the screen. I think this feature should be switchable though. Not everyone may want to use it. I am unsure whether auto-clearing should be the default or the other way around.

[2016-01-08 16:07] ukutaht opened #11 "Koans about processes"

[2016-01-08 16:08] heruku opened #12 "Koans about Enumerables and Streams"

[2016-01-08 16:08] ukutaht opened #13 "Koans about structs"

[2016-01-09 00:27] #9 closed

[2016-01-11 16:22] felipesere commented on #6
closed by #16

[2016-01-11 16:22] #6 closed

[2016-01-13 03:08] heruku commented on #7
closed by #15

[2016-01-13 03:08] #7 closed

[2016-01-14 09:49] ukutaht commented on #5
closed by #18

[2016-01-14 09:49] #5 closed

[2016-01-15 12:54] #4 closed

[2016-01-15 13:08] ukutaht opened #19 "Koans about Erlang interop"

[2016-01-15 13:08] ukutaht opened #20 "Koans about protocols"

[2016-01-15 13:08] ukutaht opened #21 "Koans about macros"

[2016-02-06 10:26] felipesere opened #22 "Koans about Enum"

[2016-02-06 11:02] felipesere opened #23 "Koans about basic arithmetic"
rem, div, /, +, - , *, min, max, ...

[2016-02-11 10:17] #22 closed

[2016-03-06 15:00] felipesere commented on #10
@Maikon opened a PR for it #25 and I have added a flag "--clear-screen" that can be set when mediating.

[2016-03-06 15:13] #10 closed

[2016-03-06 17:19] felipesere commented on #23
See #26

[2016-03-06 17:19] felipesere opened #27 "Koans about type annotations"
http://elixir-lang.org/getting-started/typespecs-and-behaviours.html

[2016-03-06 17:24] felipesere commented on #13
See PR23

[2016-03-07 13:40] ukutaht opened #30 "Format runtime errors"
If you add
[code]

To a koan, you can observe what happens when we get a random runtime error in a koan. The stacktrace gets printed which is fine but I'd like to decorate that similarly to how we decorate ExUnit assertions (mention which koan was running, clear the screen etc)

[2016-03-07 13:48] ukutaht opened #31 "Screen should be cleared before running the koan"
Since the screen is cleared _after_ the koan is run, one has to scroll up in the terminal to see their printlines

[2016-03-07 14:02] #23 closed

[2016-03-07 14:02] #13 closed

[2016-03-08 11:25] #8 closed

[2016-03-08 11:26] felipesere opened #34 "Deal with compiler warnings"
Things like
`lib/koans/08_structs.ex:9: warning: this check/guard will always yield the same result`
should be cleared.

[2016-03-08 11:28] ukutaht opened #35 "Improve descriptions"
More of a placeholder issue. We should go over the descriptions, make sure they're consistent and maybe try to rewrite some of them to be more koan-style.

[2016-03-08 11:31] ukutaht opened #36 "Strip out answers"
We should think about keeping an answer sheet around still. The ideal would be:

  * Koans have blanks in them
  * There's an answer sheet in some format
  * An automatic test to make sure that all koans pass with the provided answers

[2016-03-08 11:53] felipesere commented on #34
See #37

[2016-03-08 12:01] #34 closed

[2016-03-08 12:07] felipesere commented on #11
See #29

[2016-03-08 12:07] #11 closed

[2016-03-09 14:43] #30 closed

[2016-03-09 18:36] felipesere commented on #31
Do I get this right:
We want to see all the output of a failed koan without having to scroll,right?

[2016-03-11 11:06] ukutaht commented on #31
@felipesere correct

[2016-03-12 22:13] felipesere commented on #31
LGTM

[2016-03-12 22:22] #31 closed

[2016-03-13 11:40] felipesere opened #43 "Figure out how to support multiple blanks per koan"
We have some koans that show 'symmetric' behaviour.
It would be nice to keep both asserts in there exemplify that behaviour:

[code]

Necessary parts:
* [x] update the AST mangler to support lists of replacements
* [x] update the koan macro to inject values as needed

[2016-03-15 22:46] ukutaht opened #45 "Koans about tuples"

[2016-03-17 22:49] felipesere commented on #36
Done.

[2016-03-17 22:49] #36 closed

[2016-03-17 22:49] felipesere commented on #45
Done.

[2016-03-17 22:49] #45 closed

[2016-03-19 22:40] felipesere opened #46 "Koans about Supervisiors"

[2016-03-19 22:41] felipesere opened #47 "Koan about MapSet"
http://elixir-lang.org/docs/stable/elixir/MapSet.html

[2016-03-20 20:05] #43 closed

[2016-03-21 21:47] felipesere commented on #35
:boom:

[2016-03-21 21:47] #35 closed

[2016-04-04 09:51] c-j-j opened #52 "Koans about Agents"

[2016-04-04 14:30] felipesere opened #53 "Koans for :with keyword"
See https://github.com/elixir-lang/gen_router/blob/2001c015b560d82f8077f323de5ed0103f5e0566/lib/dynamic_supervisor.ex#L398-L404 for an example.

[2016-04-06 07:34] c-j-j opened #55 "Map koans lack clarity when it comes to ordering"
The koan "You can get all the keys from the map” had me scratching my head for a little while. The order of `Map.keys` (and `Map.values`) appears to come out in alphabetical order, not insertion order. Maybe the koan could be renamed to suggest that there is an implicit ordering, or perhaps have a test helper that checks two arrays just contain the same elements in any order?

[2016-04-06 07:35] c-j-j opened #56 "Struct koans result in "bad argument in arithmetic expression""
Every time I saved the struct koan (even with the correct answers), I kept getting an error message saying "bad argument in arithmetic expression", and I had to restart the koans in order to continue..

[2016-04-06 08:13] felipesere opened #57 "Good Elixir Style Koans"
We should either show good Elixir style in all koans or add a koan at the end that shows good elixir style.

This is just a reminder to double-check what we have.

[2016-04-06 08:19] felipesere opened #58 "Add Koans about OTP"
OTP is an integral part of the Elixir/Erlang ecosystem.

[2016-04-06 10:40] #56 closed

[2016-04-06 15:56] felipesere opened #60 "Koans about sigils"
http://elixir-lang.org/getting-started/sigils.html

[2016-04-09 19:47] #55 closed

[2016-04-24 15:30] iamvery commented on #60
I've got one that could be ported over. Originally written by @sebastiangeiger https://github.com/iamvery/elixir-koans/blob/master/about_sigils.exs

[2016-04-24 22:13] #52 closed

[2016-04-30 09:43] Kit-Ko opened #91 "Wrong ordering of Koans"
After running mix meditate, the koans starts with 10_processes.ex instead of 01_equalities.ex in ubuntu linux 15.10.

EDIT: no problem with ubuntu 16.04

[2016-04-30 13:44] felipesere commented on #91
Thank you for reporting this! I will look into it.

[2016-05-03 13:21] iamvery opened #94 "assert_receive not compatible with strategy for multiple answers"
This isn't a very big deal, but I wanted to report it in case it became relevant.

# Problem

The current strategy for answering a koan with multiple blanks during test is not compatible with `assert_receive`.

As we've found in #93, the expression given to `assert_receive` is used as a match in a `receive` call that is generated by the macro. The current strategy for inserting multiple answers is

[2016-05-03 16:36] marioosh opened #96 "Autoreload doesn't work on macbook"
I'm trying to make koans, but it shows me an error every time I save the edited file:

    ** (Code.LoadError) could not load /sandbox/elixir_koans/elixir-koans/lib/koans/05_maps.ex___jb_tmp___
    (elixir) lib/code.ex:662: Code.find_file/2
    (elixir) lib/code.ex:319: Code.load_file/2

I have Macbook Pro with Retina 2015, fresh installed, the newest Elixir(1.2.4) from Homebrew

[2016-05-03 17:01] marioosh commented on #96
I pulled into new folder and now it works, weird :/

[2016-05-03 19:06] marioosh commented on #96
Reopened: This issue is present when file is edited in IntelliJ IDEA with Elixir plugin.

[2016-05-03 20:33] ukutaht commented on #96
Thanks for reporting. It seems like IntelliJ is writing some temp files into the watched directory which the runner doesn't expect. We're looking into this

[2016-05-04 16:58] #94 closed

[2016-05-04 20:56] felipesere commented on #96
@marioosh can you pull the branch with `git fetch origin pull/102/head:intellij-fix && git checkout intellij-fix` and retry?

[2016-05-04 21:01] marioosh commented on #96
Works great !!!

2016-05-04 22:56 GMT+02:00 Felipe Seré <notifications@github.com>:

--
Mariusz Nosiński
507-183-661
mnosinski@gmail.com

[2016-05-05 10:38] #96 closed

[2016-05-05 23:11] iamvery commented on #21
Consider including examples of `do...else...end` being a keyword list. See https://github.com/elixirkoans/elixir-koans/pull/106#discussion_r62267413

[2016-05-16 22:26] felipesere commented on #60
Can we port them over?

[2016-05-16 23:44] iamvery commented on #60
Sure thing! #119

[2016-05-18 06:32] #60 closed

[2016-05-23 21:59] ybur-yug commented on #27
I'd happily tackle this one sometime soon if no else is working on it @felipesere

[2016-05-24 06:50] felipesere commented on #27
Sure! Give it a go ☺️

[2016-05-26 01:06] msurekci commented on #47
Created a pull request for this issue: https://github.com/elixirkoans/elixir-koans/pull/123

[2016-05-27 18:09] #20 closed

[2016-05-28 13:18] felipesere commented on #47
Thank you @msurekci

[2016-05-28 13:18] #47 closed

[2016-07-10 18:40] alexandru-calinoiu commented on #91
Running just fine here on OpenSuse

[2016-08-23 17:06] jkbbwr opened #138 "mix meditate doesn't work with intellij"
After closing the project, installing `inotify-tools` and running `mix meditate` it doesn't detect any file changes from intellij

[2016-09-02 16:05] art4ride opened #139 "Koans about Date and Time"
For me it was a nice thing to know about ways to work with them, especially about NaiveDateTime sigil, which was not obvious.
If you also think that's nice, I can PR the couple of koans about them

[2016-09-05 17:32] iamvery commented on #139
That seems useful to me! Maybe even something about the new calendar types?

[2016-09-07 00:29] ukutaht commented on #139
:+1:  Overall

My only concern would be that elixir standard library does not provide functionality to manipulate dates and times. I wonder how far these koans could go when the only thing you can do with standard Elixir is construct date/time structs? Thoughts?

[2016-09-07 06:19] art4ride commented on #139
@ukutaht I'm not thinking about them as a standalone koan for now, and I guess in some future version of elixir more support for dates and times will be added and than it can be extended

for now it's only basic things.
to/from date/time, sigils, Calendar, time_zone(), year(), maybe utc_now() and difference between DateTime and NaiveDateTime

[2016-09-11 18:28] cliche818 commented on #138
I had to actually turn off safe write in IntelliJ (Appearance & Behavior > System Settings > Synchronization > check off Use "safe write".

My fix didn't really help as after a few edits, the watcher will fail to reload the right file.

It seems IntelliJ write temp files like
/elixir-koans/lib/koans/03_sigils.ex___jb_old___
/elixir-koans/lib/koans/03_sigils.ex___jb_tmp___

And it writes multiple t

[2016-09-13 09:55] jkbbwr commented on #138
This is not uncommon. Is there a way this can be tracked and fixed.

[2016-09-13 09:56] jkbbwr commented on #138
Thanks very much!

[2016-10-17 03:00] quantumpotato opened #143 ":ex_unit_no_meaningful_value error in 12. pattern matching"
[code]

Updated:
[code]

Result:

[code]

What am I missing here?

[2016-10-17 12:45] iamvery commented on #143
It seems like the failure output is not being very helpful in this case. The real failure is that the match failed. This "no meaningful value" thing is an implementation detail of ex unit leaking through. It seems the error output should be improved for assertions that don't have a "left" and "right" side, e.g. `assert left == right`.

The point of this exercise is to recognize that matches can be

[2016-10-17 12:48] iamvery opened #144 "Handle unary failures more elegantly"
Currently failures for assertions such as `assert match?(1,2)` are displayed as if they're being made on binary statements. Here's an example:

[code]

This unfortunately leaks ExUnit's `:ex_unit_no_meaningful_value` detail through and causes confusion (see #143) to learners.

I believe the solution would be to handle these so-called "unary" (i.e. one argument) assertions different than so-called

[2016-10-17 15:17] quantumpotato commented on #143
Yes, thank you!

[2016-10-17 15:17] #143 closed

[2016-10-19 22:57] StephenGrider opened #147 "License?"
Can a license file get added to this project?

[2016-10-25 20:49] felipesere commented on #147
I'd like to put it on MIT or something similarly permissive, but I am not sure how to go about it as other people have contributed by now.

cc: @ukutaht @iamvery @RabeaGleissner @gemcfadyen @Maikon @Neku @riacataquian @snikolau @Troush @Zanadar @kamidev @fabientownsend @cpjolicoeur @bnchdrff @joneslee85

[2016-10-25 20:51] felipesere commented on #144
This sounds interesting! Go for it :)

[2016-10-25 20:52] Neku commented on #147
lgtm

[2016-10-25 21:05] iamvery commented on #147
👍 for my contributions

[2016-10-25 21:15] snikolau commented on #147
👍

[2016-10-25 21:34] bnchdrff commented on #147
🆗

[2016-10-25 21:41] zmackie-nbc commented on #147
😻 Love it!

[2016-10-25 22:50] felipesere commented on #147
This would be my suggestion.

[code]

[2016-10-26 08:04] RabeaGleissner commented on #147
Sounds good to me!

[2016-10-26 08:32] Maikon commented on #147
👍

[2016-10-26 10:24] gemcfadyen commented on #147
👍

[2016-10-26 10:28] fabientownsend commented on #147
Sounds good! 👍

[2016-10-26 14:25] Troush commented on #147
👍

[2016-10-28 11:45] felipesere commented on #147
I'm only waiting for @Zanadar, @kamidev , @riacataquian and @joneslee85
If I haven't heard any objectsions by Friday November 4th  I'll add the license.

[2016-10-28 13:00] Zanadar commented on #147
Good with me!

[2016-10-30 15:00] dillonkearns commented on #147
👍 Sounds great

[2016-11-09 22:59] StephenGrider commented on #147
@felipesere It is time

[2016-11-11 09:00] felipesere commented on #147
Done. Thanks everyone!

[2016-11-11 09:00] #147 closed

[2016-12-23 13:36] felipesere commented on #91
Is this still an issue or has it resolved over time?

[2016-12-23 13:38] felipesere commented on #27
@ybur-yug Are you still interested in this? I have not used `typespecs` myself, so I'd much appreciate the learning from your potential contribution 😸

[2016-12-23 14:53] iamvery opened #151 "Progress display messed up due to recent change"
I accidentally introduced a change that messed up the progress display a little while back. I've got a fix coming up, but I'm creating this issue so that I can link to something with pictures in the commit notes.

[The problematic change](https://github.com/elixirkoans/elixir-koans/pull/146/files#diff-37c7c40e84e68a928573e3db6fe872e7L39) failures to unwrap the koan body from it the keyword list ar

[2016-12-23 15:51] #151 closed

[2016-12-23 15:51] #144 closed

[2016-12-23 16:03] iamvery opened #153 "Come up with better strategy for testing "do unwrapping""
See #152

https://twitter.com/felipesere/status/812324732850892801

[2016-12-29 07:28] Kit-Ko commented on #91
I have switched to Apricity OS / Arch Linux and have no problem.
I have no idea about the latest version of Ubuntu (16.10)

[2016-12-29 07:28] #91 closed

[2017-01-19 06:10] leapingfrogs commented on #138
@cliche818 - I'm not experiencing the issue you mention in not keeping up with edits, but I'm curious whether that was impacted by reloading for all files not just the .ex files.  Would filtering the jb_tmp file suffix as in #156 help at all?

[2017-01-21 05:12] dylan-chong opened #157 ""mix meditate" gives Assertion failed error"
Just installed elixir yesterday with `brew install elixir`. Cloned this repo today and ran `mix deps.get`. Upon running `mix meditate`, this error occurs ("Assertion failed")

[code]

[2017-01-21 06:04] #157 closed

[2017-01-21 06:05] dylan-chong commented on #157
Closed because I'm an idiot |:

[2017-01-21 14:11] iamvery commented on #157
Hah, you're not an idiot! But I take it you realized this is error is due to a warning that was recently added with Elixir 1.4. For more information, there is a lot of discussion on [the Elixir mailing list](https://groups.google.com/forum/#!topic/elixir-lang-core/Otz0uuML764) as well as [opinion articles](http://iamvery.com/2016/12/05/elixir-deprecation-of-barewords.html).

Thanks for taking the

[2017-01-21 14:47] amacgregor opened #159 "(Mix) Unable to find package version fs 2.12.0 in registry"
Getting the following error:

$ mix deps.get
Running dependency resolution...
** (Mix) Unable to find package version fs 2.12.0 in registry

Running elixir 1.4.0

[2017-01-21 14:51] iamvery commented on #159
This is probably related to #158. I see 2.12.0 [on Hex](https://hex.pm/packages/fs). What version of Hex do you have?

[code]

[2017-01-21 14:53] #153 closed

[2017-01-21 14:54] amacgregor commented on #159
my version:

[code]

[2017-01-21 14:57] amacgregor commented on #159
Figure it out it was a caching issue on my end, Try nuking "~/.hex/cache.ets" did the trick.

[2017-01-21 14:57] #159 closed

[2017-01-22 00:18] iamvery commented on #159
Great! I haven't seen that myself before, but it's a good one to remember. Seems like something that shouldn't happen..

[2017-01-22 00:21] iamvery commented on #138
Looks like #156 fixes the reload detection problem in IntelliJ. I guess we'll give @jkbbwr a couple days to confirm, and we'll close out this issue. Thanks everyone! ❤️

[2017-01-22 02:26] cliche818 commented on #138
@leapingfrogs Doesn't seem to help, I am using the latest version of IntelliJ with the save write checked to try this out.  Same thing happens as before.  It does reload a few times, but then it dies.  Sometimes, it even says Code.LoadError could not load [the file I just changed].

[2017-01-22 05:25] iamvery commented on #138
@cliche818 you mentioned above both "jb_tmp" and "jb_old" files being generated. The "normalize" solution only accounts for "tmp" files. Do you think that might be related?

[2017-01-22 16:06] srufle opened #161 "Nested Dictionary Structures"
I am working my way through "Programming Elixir 1.3"
Chapter 8 - Nested Dictionary Structures
http://bit.ly/2kgQ5si

Uses get_in, put_in, update_in, and get_and_update_in. Should I modify one of the existing koans [maps, map_sets, structs]? or create a new one.

[2017-01-22 16:08] felipesere commented on #161
Welcome!
I'd suggest extending the existing koan. Make sure to also fill in the right test 😄

[2017-01-22 16:17] srufle commented on #161
Thx,
How does maps_koans_test.exs relate to 09_maps.ex
How do I run tests.

[2017-01-22 16:21] felipesere commented on #161
`09_maps.ex` are the actual koans that the user will run.
`maps_koans_test.exs` are the answers to the koans and a function to feed the answers - in the same order! - to the koans.

So if you add a new koan somewhere in the middle, you'll have to add the answer in the same position in the `answers` list.

You can run all tests by running `mix test`

[2017-01-24 16:32] glappen opened #164 "mix meditate is not reloading files"
Hello-

I am running the koans (I checked out master from git) and when I run mix meditate, then edit a koan file, it does not re-run the koans.  I am on ubuntu 16.04, i installer elixir from erlang solutions ppa, and also installed inotify-tools using apt.  Any suggestions how to debug?  Thanks!

[2017-01-26 20:24] felipesere commented on #164
Hmm, I think we can start by adding a `--verbose` flag to give more details as to what is going on.
Let me see if I can put something together 😄

[2017-01-27 23:01] jkbbwr commented on #138
yea reload aint working

[2017-01-30 21:21] #161 closed

[2017-02-02 04:40] Airmacho opened #166 "about koan "New processes are spawned functions""
I am a beginner of elixir learning. Thank you for this.

As to koan "New processes are spawned functions" in [15_processes.ex](https://github.com/elixirkoans/elixir-koans/blob/master/lib/koans/15_processes.ex#L20) file.

My iex(elixir 1.4.1) returns `false` when I use Process.alive?(pid)

[2017-02-02 09:47] felipesere commented on #166
Thank you for reporting this issue!
I just updated to 1.4.1 and tried it myself and got through it normally.
Can you try 'mix test' which will run all the Koans with the appropriate answers?
If that fails too, we'll have to dig deeper...

[2017-02-02 12:37] iamvery commented on #166
It seems the test expects the answer to be true (see bef1cf), but I also observed that it's false in the console. I'm pretty sure this is a timing problem. Since nothing in the spawn process is blocking, it's only alive for a _very short_ amount of time. The tests run really fast, so it gets to the alive check before the spawned process dies.

[code]

So in general, this is a bad/confusing example

[2017-02-02 14:23] felipesere commented on #166
Yeah, I was thinking the same and started experimenting with that on my laptop.
We could put a recursive function in there that will loop forever?

[2017-02-02 17:46] iamvery opened #167 "Consider loosening version restrictions on project"
See discussion: https://github.com/elixirkoans/elixir-koans/pull/165#discussion_r98447118

[2017-02-02 17:48] iamvery commented on #166
Perhaps a `receive` call would be more idiomatic?

[2017-02-02 22:59] felipesere commented on #166
Looks good 😄

[2017-02-07 00:50] DavidOliver commented on #164
I'm using Ubuntu 16.10 with inotify-tools installed and am finding the same.

Thanks for elixir-koans! :smiley:

[2017-02-08 02:09] jessejanderson commented on #166
This seems backward to me... shouldn't `Process.alive?` return false to indicate that when a process has nothing to do, it dies immediately?

The `receive` example seems like a hack to me in the current context that teaches false information.

Maybe this should be split into 2 tests. The first is as written (maybe with a tweaked description) expecting an answer of `false`, then the next test has a

[2017-02-08 02:10] jessejanderson commented on #166
(maybe I'm just annoyed that I knew the process would be dead immediately, and the test was telling me that I was wrong) :D

[2017-02-11 07:40] huyz opened #169 "The "unordered MapSet" koan is very unclear"
The [koan](https://github.com/elixirkoans/elixir-koans/blob/master/lib/koans/10_map_sets.ex#L18-L20) that shows that MapSets aren't ordered is confusing:
[code]

There are two reasons:

1. "*after* 32 elements" is grammatically misleading and the number 32 is unexplained.
1. It's unclear to beginners where the number 11 comes from.  For those who understand where the 11 could come from (some incid

[2017-02-15 16:04] iamvery commented on #166
@jessejanderson that's a good point. To me it basically feels like "concurrency is hard. look concurrency is hard to teach too" 😆

I'm not sure there is a reliable way to have the process die before the Process.alive?/1 check. I suppose that's a function of using procedural tests on concurrent code. Maybe the whole approach to this lesson needs to be freshened up? Seems with koans it's hard to des

[2017-02-16 16:00] jmcaffee opened #172 "Could not compile dependency :fs error"
After running `mix deps.get` successfully, running `mix meditate` results in the following error:

[code]

`rebar3 report "mix meditate"`:

[code]

Results of `DEBUG=1 mix meditate`:

[Pastebin of stacktrace](https://pastebin.com/CP0rCmZg)

System:
Ubuntu 16.04.2
4.4.0-62-generic

Let me know if I can provide any other info...

[2017-02-18 00:48] awochna commented on #172
I'm encountering the same issue, also on Ubuntu 16.04

[2017-02-18 17:11] felipesere commented on #172
I have just installed Ubuntu 16.04 a Elixir 1.4.0 (from asdf) and I can confirm that it does not reload 😢

I'll have to look into it. Thanks for reporting! Stay tuned.

[2017-02-18 17:23] felipesere commented on #172
I've just bumped the version exfswatch to 0.3.2 and that solved the issue on my Ubuntu Vagrant box. Do you mind pulling from master and trying again?

[2017-02-18 17:42] felipesere commented on #138
@jkbbwr @cliche818 can you tell me a bit more about your setup?
I am running `mix meditate` in iTerm and editing the files in IntelliJ and it seems happy.
Oh and all of this is in OSX.

I just pushed an update the helped the reload in Ubuntu. Maybe that solved it?

[2017-02-18 18:56] jmcaffee commented on #172
The issue has been fixed in fs.

Forcing use of the latest github version solves the issue for me.

In `mix.exs`:
[code]

[2017-02-18 21:08] awochna commented on #172
Pulling from master didn't fix the issue still.

Explicitly telling mix to use the latest github version for `:fs` did though, thanks @jmcaffee!

I'm sure `:fs` will have a new release soon.

[2017-02-18 22:22] felipesere commented on #172
(pressed the wrong button)

[2017-02-19 13:53] iamvery commented on #169
Closed by #174

[2017-02-19 13:53] #169 closed

[2017-02-19 23:05] Nagasaki45 opened #176 "About koan "I think I need my number as a char""
The concept of char lists was not presented before this koan. Strings, however, were already presented.
I think that this specific koan imposible to grasp without start googling for char lists and the special way they are defined in elixir (compared to python, my main language, for example).
Maybe it is too early to present it or there is a need to present some related concepts before. What do you

[2017-02-19 23:10] felipesere commented on #176
Sounds interesting! I don't consciously use char lists very often, so I didn't even notice.
Do you have suggestions what an alternative could be? Might the koan not be relevant at all?

@ukutaht @iamvery @marosluuce @Maikon @gemcfadyen @nickbdyer How often do you use char lists?

[2017-02-19 23:13] Nagasaki45 commented on #176
Yes, droping this koan altogether is not a bad idea. I'm relatively new to elixir, so I can't tell how important is this concept, but it is generally confusing.

[2017-02-20 00:42] jkbbwr commented on #138
Seems to magically fix it for me.
`Linux devbox2 4.9.8-1-ARCH #1 SMP PREEMPT Mon Feb 6 12:59:40 CET 2017 x86_64 GNU/Linux`
`IDEA 2017.1 EAP`

[2017-02-23 02:54] cliche818 commented on #138
Works for me on OSX, but not when I am on Windows 7 64bit.   I am using IntelliJ IDEA 2016.3.4.

[2017-02-23 09:16] vinitgarg27 opened #177 "elixir-koans not supported for elixir 1.5.0"
I cloned latest elixir from git repo and while running command "mix meditate" it shows this error :
** (Mix) You're trying to run :elixir_koans on Elixir v1.5.0-dev but it has declared in its mix.exs file it supports only Elixir >= 1.2.1 and <= 1.4.1

Can anyone please help ?

[2017-02-23 10:29] VitaliZaharenko commented on #177
Same too, when i changed mix.es, and put elixir: ">= 1.2.1 and <= 1.5.0". It gives: ** (CompileError) lib/koans/16_tasks.ex:6: unbound variable _
    (stdlib) lists.erl:1238: :lists.map/2
    (stdlib) lists.erl:1238: :lists.map/2

[2017-02-23 15:17] iamvery commented on #177
We probably need to loosen up the Elixir versions covered by the project. See #167. It probably makes sense for the upper limit to be `~>1.4` which would cover all minor versions of 1.x

[2017-02-26 20:41] #167 closed

[2017-02-26 20:41] #177 closed

[2017-03-10 12:22] felipesere commented on #138
Grrr... I'll have to test this on a Windows box to debug.

[2017-03-16 05:22] prondzyn opened #179 "Weird chars running in Windows console"
Please take a look at screen shot bellow. I have some weird chars at the the beginning of lines in Windows console. Is it known problem? Is there any solution for this?

![elixir-koans](https://cloud.githubusercontent.com/assets/5822647/23982850/788a2b92-0a10-11e7-9c75-fc3b7d5b643d.png)

[2017-03-16 09:57] ukutaht commented on #179
This is because the koans are trying to add color to the output using ANSI escape codes. Your terminal is not recognising the escape sequences and just prints them out literally instead of colorizing the text. I haven't used windows terminals, but you can try to look into ways to have ANSI color code support in the terminal you're using. Alternatively, we can add a command line switch like `mix me

[2017-03-16 17:42] MrTortoise commented on #179
Alternatively look to conemu or cmder, I bet they have something to get you
what you want.

On 16 Mar 2017 9:57 a.m., "Uku Taht" <notifications@github.com> wrote:

[2017-03-17 05:32] prondzyn commented on #179
@ukutaht thanks, but unfortunately `--no-color` doesn't help

@MrTortoise I downloaded ConEmu. Thanks!

[2017-03-17 05:32] #179 closed

[2017-04-03 07:22] cybrox commented on #166
I think this can be closed now that #173 and #180 are merged. 😃
cc @iamvery

[2017-04-05 23:07] Nagasaki45 opened #184 "String interpolation is first presented in the sigil lesson but not in strings lesson"
I think that string interpolation can be instroduced in `02_strings.ex` instead of showing it for the first time in `03_sigils.ex`. I will be happy to propose a PR.

[2017-04-05 23:23] Nagasaki45 opened #185 "Hard to understand the purpose of atoms"
I think that with the current atoms koan (`05_atoms.ex`) it is hard to understand the purpose of them. OK, they're "like strings", but what shoud we do with them. The fact that `true`, `false`, and modules (which were'nt instroduced yet, BTW) are atoms is even more confusing.

First, if we want to compare atoms to something it might be better to compare them to enums (like C enums).
Second, I thin

[2017-04-06 14:45] iamvery commented on #184
That sounds very reasonable! I'll check out the PR. Thanks! ❤️

[2017-04-06 16:26] #184 closed

[2017-04-09 08:21] felipesere commented on #164
@DavidOliver and @glappen can you try with `master`? We have updated some dependencies.

[2017-04-09 08:22] felipesere commented on #176
@Nagasaki45 open a PR to remove it 😄

[2017-04-09 08:24] felipesere commented on #172
@awochna and @jmcaffee could you try with latest `master`? We have updated to the latest `exfswatch` and `fs`.

[2017-04-09 08:32] felipesere commented on #138
@cliche818 can you try again with latest `master`? We have updated some dependencies.

And, I may have access to a Windows box debug this. Could tell me a bit about your setup @cliche818 ? What do I need to configure and how are you actually running `mix meditate`?

[2017-04-09 08:54] DavidOliver commented on #164
Definitely better. I'm finding that when saving with gedit I often have to hit Ctrl+S a couple of times for meditate to update, but when saving with Atom meditate updates on every save. Thanks!

[2017-04-09 12:53] #176 closed

[2017-04-09 13:41] #166 closed

[2017-04-09 19:02] cliche818 commented on #138
@felipesere Still the same as before, tried on IntelliJ IDEA 2016.3.6 first then 2017.1 since I needed to update my IDE.  It's Windows 7 64bit.

Just went to elixir-lang.org and got the installer for Windows.  I am using elixir version 1.3.2, I haven't updated in like half a year, doubt it matters for this bug.  I just use the window's command prompt to run mix meditate.

[2017-04-22 19:22] ukutaht commented on #185
Very good points. After reading this, and looking at the koans themselves they do feel more like a trivia quiz than a learning exercise.

I like the comparison with enums. This might be a detail not worth mentioning, but one purpose of atoms, as far as I can tell, is that they take less memory and are faster to equality-check than strings. Do you think we should include that as well?

[2017-04-22 21:26] Nagasaki45 commented on #185
Take a look at official [getting started](http://elixir-lang.org/getting-started/basic-types.html#atoms) tutorial. I think that it explains the concept well in the first sentence: "Atoms are constants where their name is their own value". Using the term "constant" is probably better than comparing them to enything (strings and enums).

I think that we can change the description of the first koan t

[2017-04-22 21:28] ukutaht commented on #185
Agreed. A constant is a much better term here. Looking forward to the PR.

[2017-04-22 21:31] Nagasaki45 commented on #185
One more thing. We also have `nil`. Similar to the boolean values it is also an atom. Do you want to add this?

[2017-04-22 21:44] ukutaht commented on #185
Yeah, sounds good :+1:

[2017-04-22 21:59] Nagasaki45 commented on #185
The PR is ready #189.

[2017-04-24 08:51] #185 closed

[2017-04-24 17:37] tjarratt opened #190 "Koans for Sigil references lists before the concept of a "list" is introduced"
This might be a bit pedantic, and come across as whiny, so I'd like to open this issue with a hearty "THANK YOU" for creating and maintaining this project. I discovered this project last night after a round of doing some Kotlin koans (and complaining how bad the user experience was with `gradle` compared to the ruby koans with `rake`). I was really blown away by how delightful it is to run `mix me

[2017-04-24 20:08] Nagasaki45 commented on #190
Good point! I actually think that it will be better to move the whole sigils lesson after all of the data types lessons. I see no reason for strings to be explained before sigils, and lists to be exaplained after it. What do you say about moving it after the structs lesson?

[2017-04-24 20:35] tjarratt commented on #190
So the proposed order up to structs would be this: (ignoring later lessons for now)

* 01_equalities.ex
* 02_strings.ex
* 03_numbers.ex
* 04_atoms.ex
* 05_tuples.ex
* 06_lists.ex
* 07_keyword_lists.ex
* 08_maps.ex
* 09_map_sets.ex
* 10_structs.ex
* 11_sigils.ex

This seems pretty good, in that it takes a useful language feature (sigils) and delays teaching it until after a lot of other core concep

[2017-04-24 20:45] Nagasaki45 commented on #190
I'm not one of the project maintainers, so it's not for me to decide :-)
But yes, this is what I had in mind.

[2017-04-24 20:52] tjarratt commented on #190
lol that feeling when you assume the first person to respond to your github issue is the maintainer

"whoops"
![whoops](https://i.imgur.com/m1IctIR.png)

[2017-04-24 22:21] felipesere commented on #190
👋! I am one of the maintainers but I don't have push access for the rest of the week.

I like the discussion and suggestion. Open a PR and I or @iamvery or @ukutaht will take a look.

Thanks for taking the time to go through the koans and give constructive feedback 💚✅

[2017-04-24 23:21] ukutaht commented on #190
:+1: I'm on board with moving sigils to a later stage. Happy to merge the PR when one is opened :)

[2017-04-25 06:59] BryanJBryce opened #191 "Koans for common Elixir libraries"
I've been thinking about making some Koans for Ecto. I'm wondering if there's support here to probably make a separate project, but keep it under the elixirkoans org on Github for Elixir Libraries?

[2017-04-29 15:43] membranepotential opened #195 "Left/Right "Hints" giving away the answer"
I love the koans and the app =)

However, I believe showing left/right values when an assertion fails gives away to much of the answer. For example:

[code]

I perceive koans as problems that come without any hints and can only be solved by thinking about them for days in a dark chamber isolated from civilization. Giving those hints makes it too easy sometimes.

Thank you for the good work!
Cheers

[2017-04-29 15:51] Nagasaki45 opened #196 "Make sure the runner and filenames agree on koans order"
I open this issue in response to https://github.com/elixirkoans/elixir-koans/pull/194. It's a good catch of a a trivial bug we missed in https://github.com/elixirkoans/elixir-koans/pull/192, when we changed the order of the koans (the filenames) without changing the order of the modules in `runner.ex`.

As I see it, to make sure we don't mess this up again we have two options:
1. Have a test that

[2017-05-02 18:19] membranepotential commented on #196
It seems most natural too me to scan the folder with the koans, parse the filenames and build the module list from there. Maybe with an additional test to enforce naming conventions. The koan source files are already sort of driving the state of the app, so I think it makes most sense to encode the order in this place.

[2017-05-03 20:51] Nagasaki45 commented on #196
I tried to take this path, of building the list of modules to run from the order of the files, but found it way more complicated than I thought. We will need to either to:

1. Go over each file, read the source code, compile it, and get the "main" module out. Some relevant material [here](http://stackoverflow.com/q/13223238/1224456).
2. Hack a simpler solution by reading the first line of each fil

[2017-05-03 21:05] membranepotential commented on #196
I wouldn't know if there was a more elegant solution, but I suppose simpler is better.

I guess the module name could be parsed from the file name, but the unnecessary complexity of dynamically loading the module remains.

[2017-05-03 21:07] Nagasaki45 commented on #196
Guessing the module name from the file name is dangerous. Let's assume a module named `HTTP` in a file named `http.ex`. The naive but wrong parsing will be `Http`.

[2017-05-03 23:08] felipesere commented on #196
I think we could try to use `application.get_key(:the_application_name, :modules)` to get all the modules in :the_application_namespace. I haven't tried it though. We could then sort that list by matching it up with its filename...

It might be worth an experiment 😃

[2017-05-03 23:11] felipesere commented on #196
`:application.get_key(:elixir_koans, :modules)` gave me very interesting results. We might have to namespace the koans better, for example, `defmodule Koans.Strings do` to be able to separate them from other modules. It looks promising.

[2017-05-04 14:38] Nagasaki45 commented on #196
Looks promising indeed! I don't think we need to namespace the koans differently just because of this. Instead, we can do something like this:

[code]
Then zip them, filter by matching to `File.cwd() <> "lib/koans/" <> filename`, and sort.

I will send a PR in the next few days.
Thanks for the input!

[2017-05-05 21:01] Nagasaki45 commented on #196
Another issue :-(
We already have some source file that contain more then one module. For example, in `lib/koans/18_protocols.ex` we have:

[code]
We can decide that we will always use modules without `.` in their name (converting the atom to string and check). However, we might want in the future to have some heirarchy for the koans, for example, we might introduce `OTP` koans, and we will have l

[2017-05-06 21:27] felipesere commented on #196
Hmm... Our modules have a function called `all_koans()` that returns a list of koan functions. You could try calling that and rescuing if it fails? Otherwise we can [register an attribute](https://hexdocs.pm/elixir/Module.html#register_attribute/3) and [look for it later](https://hexdocs.pm/elixir/Module.html#get_attribute/2). For registering you'll have to modify the `koan` macro

[2017-07-18 11:42] Nagasaki45 commented on #190
I think this issue can be closed now after merging #192.

[2017-07-18 12:29] iamvery commented on #190
@Nagasaki45 nice catch! thanks ❤️

[2017-07-18 12:29] #190 closed

[2017-07-20 20:53] #196 closed

[2017-08-07 07:09] mxdavis opened #202 "(MatchError) no match of right hand side value"
Hi,

Sorry if this is a very newbie question but I'm getting the below error:

[code]

When I do mix test I get the below error:

[code]

[2017-08-07 07:49] felipesere commented on #202
Hi! Thank you for reporting this. Both errors seem very interesting.
I'm at work right now, but I might be able to take a look over lunch or sometime this evening.

Am I right in assuming OSX?

[2017-08-07 09:09] mxdavis commented on #202
Hmm I just ran `mix deps.get`, I guess I somehow overlooked that or thought I had done it.

Now I have a different error but I may be able to fix this one

[code]

[2017-08-07 09:11] mxdavis commented on #202
Actually fixed that and getting same error :(

[code]

[2017-08-07 12:13] iamvery commented on #202
I wasn't able to completely isolate the issue, but a coupled things I noticed:

- The `MatchError` you're seeing appears to be a problem with the file-system watcher.
- The library we depend on (`exfswatch`) recently experienced a pretty big [rename and refactor](https://github.com/falood/file_system/pull/26).
- The second error (while attempting to run the tests) also appears as if it might be a

[2017-08-07 12:22] mxdavis commented on #202
I'll take a look, thanks so much. For now I'm enjoying the challenges without running the tests ;)

[2017-08-08 21:11] felipesere commented on #202
I updated my Elixir to 1.5.1 but I still could not get the error to happen.
What OTP are you running? I am running Erlang/OTP 20 from homebrew.
You can check with
`erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'  -noshell`

[2017-08-11 13:32] Nagasaki45 opened #203 "Concepts appear in lesson 7 without proper introduction"
I found two concepts that appear in lesson 7 before they are properly introduced.

- The `if` macro.
- Anonymous functions defined with `fn`.

I don't know how unclear these examples are for someone that is new to the language (or new to programming in general). Good chances that I'm just nit picking and everything is fine. However, in the case of `if` we might want to introduce it on an earlier l

[2017-08-11 13:41] Nagasaki45 commented on #139
Elixir 1.5 added introduced som date/time arithematics to the standard library. See [here](https://github.com/elixir-lang/elixir/blob/v1.5/CHANGELOG.md#calendar-improvements). It might be enough to start writing exercises for it.
A major issue here will be our elixir version requirement. I don't see enough reasons to restrict this project to elixir > 1.5, but think about building a mechanism to sk

[2017-08-14 10:28] mxdavis commented on #202
// ♥erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().' -noshell
"20"

But I think it's fine I can complete the exercises with the use of IEX. Thanks so much for a wonderful tour of elixir.

[2017-08-14 10:28] #202 closed

[2017-11-24 23:36] lukaleli opened #211 "Having problem with mix meditate"
Hey, just fetched elixir koans, but I'm having issues with running it. I'm using elixir version 1.6.0-dev on Mac. Does the dev release of elixir affect it? Here's the console output:

[code]

[2017-11-27 10:44] ukutaht commented on #211
@lukaleli Thank you for reporting. We just merged a patch for this, please pull from master and try again.

[2017-12-10 04:56] mholubowski commented on #211
Hey! For anyone reading this, as of now (December 9th, 2017) `mix meditate` fails when using Elixir 1.5, but works just fine on 1.6.

[2017-12-10 09:20] Nagasaki45 commented on #211
Hi @mholubowski, I don't encounter any problem running `mix meditate` on elixir 1.5.2 on arch linux. Can you please elaborate?

[2018-02-01 18:01] CodyStringham opened #214 "Suggestion: 10_structs.ex"
First comment, this is an awesome project. That being said there is an entry on `10_structs.ex` on line `60` that doesn't make sense.

Up to this point functions have not been covered, let alone the `&` capture operator has not been shown or explained which to someone new will be very confusing. I think you should revisit this and and use something like:

[code]

Either way great job.

[2018-02-01 18:29] Nagasaki45 commented on #214
+1

This is a  similar issue to #203, so we might want to solve them together.

[2018-02-01 20:03] felipesere commented on #214
Thank you both for bringing this up 🙂👍
Would you suggest introducing fn/&-notation first or rewriting this example?

[2018-02-02 07:45] #164 closed

[2018-02-02 07:48] felipesere commented on #211
I just tried with 1.6.0 and 1.5.2 and both work for me. Please reopen with more details if this is still an issue.

[2018-02-02 07:48] #211 closed

[2018-02-02 08:09] felipesere commented on #172
We are now using [file_system](https://github.com/falood/file_system), so please open a new issue if there are sill issues with Ubuntu and `mix meditate`

[2018-02-02 08:09] #172 closed

[2018-02-02 09:33] #214 closed

[2018-02-02 09:36] felipesere commented on #203
I have rearranged some of the koans in #215
Amongst other things, I move the koan that used both `fn` and `if` to the function koans, as it was more about using keyword lists _as arguments_.
Happy to see PRs for further improvements! 💙

[2018-02-02 09:36] #203 closed

[2018-03-01 01:26] Cohen-Carlisle opened #216 "Should `===` be used for differentiating floats and ints?"
Here's the example that made me think this might be a good idea in some cases:
https://github.com/elixirkoans/elixir-koans/blob/18ce1752d45c9069905e31f3e67ad79259edc1d2/lib/koans/03_numbers.ex#L52-L54
`assert Float.ceil(34.25) == 35` would pass this test, even though `Float.ceil/1` produces a float.

[2018-03-01 15:39] iamvery commented on #216
I feel like the example would be more confusing with `===` as it would explicitly require the learner to specify a decimal despite the description reading "I don't want this decimal point". I think the forgiving nature of `==` is exactly what the example encourages. What do you think?

[2018-03-01 16:35] Cohen-Carlisle commented on #216
Hmm, I thought the title was referring to dropping the precision of the decimal, not the presence of any decimal (because it is a float and hence still has a decimal). I think if `===` is introduced, it should probably be in a new koan, though.

[2018-03-01 16:42] iamvery commented on #216
Maybe we're saying the same thing?

If there isn't a koan that covers `===`, I think that would be a great addition!

@felipesere @ukutaht do you agree with the above conversation?

[2018-03-01 16:50] Cohen-Carlisle commented on #216
Yes, I think so. Originally, I was thinking existing koans should be modified. But now I think it would make more sense to add koans around `===`.

[2018-03-01 16:55] iamvery commented on #216
Do it! Would love to see what you come up with 🎉

[2018-03-03 12:26] #216 closed

[2018-03-08 23:13] felipesere commented on #138
Any movement on this?

[2018-05-06 02:51] tclain opened #221 "Webversion of elixir koans"
Hi guys, thanks for your work,

I wonder if someone did put your work as a webversion _a la_ http://clojurescriptkoans.com/

If not, I'd be happy to help in this regard

Thanks

[2018-05-06 12:43] tclain commented on #221
Ok ! I'll see if i can put a POC together. Thanks for your answer

Le dim. 6 mai 2018 08:20, Jay Hayes <notifications@github.com> a écrit :

[2018-05-21 00:05] robbyrussell opened #222 "Keyword lists / assert_raise ArgumentError"
As a first timer to Elixir, I found myself scratching my head at the last koan for KeywordLists. It's the first function and dealing with raising an argument.

https://github.com/elixirkoans/elixir-koans/blob/08c90ce0d84120d315a8ee626ff79b5b445ececd/lib/koans/07_keyword_lists.ex#L29

Nor have I been exposed to maps so this felt like I was just trying to get it to pass without really knowing why it

[2018-05-21 13:53] iamvery commented on #222
This is really great feedback, @robbyrussell! Thank you! It's always hard to keep your finger on the pulse of these koans as they grow and change over time. You have to work through them over and over to really feel out the flow (which tends to just not happen in reality). So this kind of feedback from the community is really important ❤️

[2018-05-21 14:10] felipesere commented on #222
Thanks @robbyrussell for the feedback!
From a cursory look, I think we rearranged the koans and didn't pay attention to surroundings:
The first koan _also_ mentions maps, while the one you mentioned then goes  _"But unlike maps..."_.

Would it make sense to flip the koans, move them to 08_maps and then compare maps to keyword lists?

[2018-05-21 15:14] robbyrussell commented on #222
Possibly, I was just a bit thrown off by what the example was doing. (especially since it looked like I just needed to write the same thing as a few lines up but don't (yet) know why it'd trigger an ArgumentError

[2018-05-21 15:14] robbyrussell commented on #222
(side-note: was really enjoying my way through this project. Was a fun Sunday afternoon project)

[2018-06-16 02:39] s-oram commented on #222
Kind of similar here. The koan subject "But unlike maps, the keys in keyword lists must be atoms" explains the salient point, but I don't understand the syntax `fn -> not_kw_list[___]`. What is `fn ->`? The koan/test passes once the assertion is rewritten to `fn -> not_kw_list[{"foo", "bar"}]` but I don't know if that is the correct answer or not.

It's no big deal. This is my first exposure to El

[2018-06-25 14:51] iamvery commented on #222
👋 @s-oram

Thanks for the link to the docs for `->`! Honestly in practice, I don't think that `->` is often thought of on its own. So to answer your specific question quoted above, the syntax `fn -> ... end` is used to define an _anonymous function_. To illustrate that, give this a try:

[code]

You'll sometimes see these written on multiple lines like:
[code]

And, in fact, you can define multipl

[2018-06-26 00:15] s-oram commented on #222
@iamvery That helps. Thanks for taking the time for the explanation. :)

[2018-07-04 06:52] felipesere commented on #222
@iamvery do you want to turn that into Koan? 🤣

[2018-07-04 07:44] s-oram commented on #222
@felipesere I could try turning it into a koan if you would like?

[2018-07-06 01:07] s-oram commented on #222
@felipesere Great, I've got stuff on for the next couple of days. I'll aim to have something finished by the end of next week.

[2018-07-13 01:42] s-oram commented on #53
Is anyone working on this? I could try putting something together for it. @felipesere

[2018-07-22 09:15] felipesere commented on #53
Go for it!

[2018-08-11 16:33] krlsdu commented on #195
Good point! @membranepotential , maybe not necessarily a phrase, but a link to respective elixir documentation.
The thread of this approach it is maintains the link consistent because the elixir documentation can change, and check this on the test is really hard.

[2018-09-02 07:06] s-oram commented on #53
I've just sent a pull request with 6 koans to meet item one on the list above (the `for` keyword). Please let me know if you see anything that can be improved.

I started working a while back so haven't been super motivated to do extra programming on the weekends. Normally I'd rather get outside and play some sport. (It just happens to be raining this weekend.) If you're happy with a slow pace, I'

[2018-10-03 18:59] DaneWeber opened #226 "04_atoms.ex has unclear expectations"
I'm new to Elixir and using these koans. First of all: thanks! I really appreciate them.

For the 04_atoms koans, I wasn't clear what was expected. For example, `assert true == ___` and `assert false == ___` can be most easily completed by simply repeating `true` and `false`.

I was guessing that perhaps it should be completed with `assert true == :true`.

Another thought is that these could be tr

[2018-11-02 21:11] iamvery commented on #226
@DaneWeber thank you for the feedback! Sorry it has taken so long to get a response. Sometimes it's really hard to build an example that provides enough hint to keep folks on the straight and narrow w/o giving everything away. If you have any ideas for how to help these examples explain themselves better, we'd love to see them! Maybe even as easy as a little more in the description? Or a comment?

[2018-11-19 21:48] DaneWeber commented on #226
Thanks for the response! 😄 I'm on a pretty slow cycle too.

So, I'm an elixir newbie, but my suggestion was the following:
`assert :true === ___`

I would _think_ that would point to a solution of `assert :true === true`. I'm _assuming_ that is the intent of this exercise, but I wanted to make sure I'm not missing a deeper solution.

[2018-11-21 06:48] iamvery commented on #226
Ah, I think I missed the subtlety of your suggestion. I like it! I agree that it would seem a bit easier to intuit what the lesson is trying to show you by going from atom to boolean rather than the opposite. Fwiw, I don't think the threequals is really necessary. I believe the only difference is [numeric equality](https://hexdocs.pm/elixir/1.6.0/operators.html#comparison-operators).

What do you

[2018-11-21 09:59] ukutaht commented on #226
Thank you for the suggestions @DaneWeber!

I agree with @iamvery here. Showing the atom is a good improvement to the exercise but I would keep the double-equals. In my experience the convention is to always use double-equals as the default and frankly seeing a triple-equals in an elixir codebase would be pretty confusing to me.

[2018-11-24 05:44] DaneWeber commented on #226
Interesting! I came directly from `03_numbers.ex` which uses `===` several times, and I clearly missed that it's only stricter when it comes to integers & floats. I was carrying baggage from other languages.

[2018-11-26 18:48] iamvery commented on #226
I wonder if we could do more to emphasize "looky `===` matters for numbers"

[2018-12-06 10:45] Glutexo opened #228 "Autoreload doesn’t work with unicode paths"
If the _elixir-koans_ folder is located in a path with non-ASCII characters, the autoreloading doesn’t  work. An error like this is raised every time a change is detected:

[code]

The path should be _~/_dev/ň/_ and not _~/_dev/Å/_.

Happens on macOS Mojave 10.14 (18A391) with zsh.

[2018-12-06 13:52] iamvery commented on #228
I dug in a little bit on this. The error originates [here](https://github.com/elixir-lang/elixir/blob/eb5679bfcc9bd35c4c016e91745b4a1a4d43356a/lib/elixir/lib/code.ex#L1147). It ultimately seems that [`:elixir_utils.read_file_type`](https://github.com/elixir-lang/elixir/blob/887e8f2633b361200843924e597edf36d38d2ed9/lib/elixir/src/elixir_utils.erl#L66-L73) doesn't handle these characters well. I don

[2019-01-01 10:01] magmax opened #230 "watcher does not work as expected"
Hello, I'm having the next problem:

[code]

It is just a warning, but whenever I modify the code, I see this error:
[code]
And it doesn't work as expected.

I'm using:
[code]

On ubuntu 18.10 and use vim to edit (tested with gedit too).

[2019-01-01 10:48] felipesere commented on #230
Can you try with Erlang 21?

[2019-01-01 10:48] Nagasaki45 commented on #230
The issue was introduced in 8c0c314e78b40f4d5d19bc6755b09e4fa8cb3974. `Code.compile_file` was added in elixir 1.7. Before that we used `Code.load_file` which is now deprecated. Don't really know what should be the best solution to keep supporting older elixir versions...
@magmax, you can upgrade to elixir 1.7. Not that this is a proper solution to this issue, just a hacky workaround.

[2019-01-01 11:02] felipesere commented on #230
Hmmm... Now that I look a bit closer, I don't think our travis run would have caught it.
We don't have any tests for `lib/watcher.ex` 😭

From what I can see in the Ubuntu package index, you might not be able to upgrade using `apt`.
An alternative I have used on CI has been to use `asdf` as desribed here:  https://gist.github.com/beaorn/7b90a21b7e80e7744d8d2d08e49efcee#erlang-elixir-and-phoenix

[2019-01-01 11:04] felipesere commented on #138
This has been resolved as we have @caspg changes in our tree.

[2019-01-01 11:04] #138 closed

[2019-01-01 13:03] Glutexo commented on #228
Thanks for taking a look at this, @iamvery! I examined a bit too and I at least found out that the _Watcher’s handle_info_ [method](https://github.com/elixirkoans/elixir-koans/blob/6c53c51fed90107162139d61dc7bcfbf41171ed0/lib/watcher.ex#L14) already receive an already invalid path. Printing it out, the Unicode characters are already botched.

I wanted to dig deeper and see the actual result of _fi

[2019-01-02 14:37] iamvery commented on #230
Well sorry about this, folks!

We don't have any tests for lib/watcher.ex 😭

I thought I had checked, but honestly I probably just assumed CI was a good enough 👍. Since the call is only deprecated at this point, we could revert the changes and use the mean time to iterate on a more robust fix. I'm pretty sure there are options for conditionally including code based on Elixir version. I feel like I

[2019-01-02 14:45] iamvery commented on #228
Fun times 😅

[2019-01-02 14:51] iamvery commented on #230
h/t @michalmuskala for this potential solution:

[2019-01-02 19:49] pyramind10 opened #231 "Range.range?/1 is deprecated"
In `03_numbers.ex` there is a koan for checking for range
[code]

`Range.range?/1` is deprecated.

This is a kind of a hard to replace because of the learning path. Behind the scenes a Range is a struct. But pattern matching and structs don't get "taught" until later in the koan journey.

Could replace the equality check with:
[code]

But I'm not sure if this really helps learn "check if it's a ra

[2019-01-02 19:55] tolbier commented on #222
The right answer is fn -> not_kw_list["foo"] ;-)

[2019-01-04 14:59] iamvery commented on #230
@mparker3 I tend to agree that we should keep the provided environments up to date, however I also think we want to make the koans as approachable as possible. I proposed a solution to make this work without deprecations on versions <= 1.7 in #232. Please have a look!

[2019-01-04 15:04] iamvery commented on #231
Thanks for the report! It's probably high time that some of the maintainers give a run through the Koans to think about the journey again. It's hard to intuit these types of reports without fresh experience with the flow itself. I suspect your intuition is spot on.

[2019-01-04 16:02] #230 closed

[2019-01-04 16:03] felipesere commented on #230
Should be merged now :)

On Fri, 4 Jan 2019 at 14:59, Jay Hayes <notifications@github.com> wrote:

--
Gruß,
Felipe

[2019-01-04 19:59] pyramind10 commented on #231
@iamvery no problem. Let me know if you need any help.

[2019-01-06 19:28] agseijas opened #233 "typo: divison -> division"
https://github.com/elixirkoans/elixir-koans/blob/0f72a9844455cbe94754008df05ee60b6a149d13/lib/koans/03_numbers.ex#L15

[2019-01-07 15:03] #233 closed

[2019-01-07 15:04] iamvery commented on #233
Thank you! ❤️💙💚💛💜

[2019-03-07 22:02] tkilgour commented on #226
Found this issue because I also had no idea what `assert true == ___` and `assert false == ___` were expecting.

My suggestion would be to follow the same pattern from the first two koans in Numbers:
[code]

[2019-03-24 16:15] bontequero opened #236 "Test duplication on GenServer koans"
I think it should not be the same test. Maybe i am missing something?
[code]

[2019-03-25 12:35] iamvery commented on #236
Yes, I agree. You would expect `handle_call` to be referenced there somewhere. Thanks for the report!

[2019-03-28 13:38] mindaugaswashere commented on #172
Have you tried enter sudo ?

[2019-04-01 20:56] #236 closed

[2020-01-06 19:35] selfsimilar opened #245 "warning: the Collectable protocol is deprecated for non-empty lists"
The final koan in comprehensions (20) throws a warning:

    warning: the Collectable protocol is deprecated for non-empty lists. The behaviour of
    things like Enum.into/2 or "for" comprehensions with an :into option is incorrect when
    collecting into non-empty lists. If you're collecting into a non-empty keyword list,
    consider using Keyword.merge/2 instead. If you're collecting into a n

[2020-01-06 21:32] iamvery commented on #245
Thanks for the issue! Feel free to open a PR is you have a solution, otherwise someone will pick it up eventually ❤️

[2020-01-08 20:35] selfsimilar commented on #245
#246

[2020-01-10 04:12] selfsimilar commented on #245
Updated PR based on notes in #248.

[2020-05-22 13:59] marco-jantke opened #250 "FunctionClauseError when starting newly cloned elixir-koans"
This is my absolute first contact with Elixir: so I have no clue what I'm doing! I freshly installed Erlang and Elixir on Ubuntu, cloned this nice koan project, installed the mix dependencies and started to meditate. But I get an error right away. Here the list of things I have installed. Please let me know if I can provide more information!

[code]

Thank you already for your work and the koans!

[2020-05-22 14:09] marco-jantke commented on #250
FTR: I verified whether the PR https://github.com/elixirkoans/elixir-koans/pull/242 would resolve the issue, as it looked related, but the result is exactly the same as before.

[2020-05-27 02:01] rabuf commented on #250
A workaround that will let you at least run the koans, though it removes useful information, is to simply add:
[code]
after the existing clause. For some reason (I'm new to Elixir so I'm not sure why) after processing the stack trace, the value spent to the extract function is nil. This probably has to do with the way `stacktrace` has to be called inside of a try/rescue now, but this is as far as

[2020-06-04 17:54] kknives commented on #250
I looked at it and it seems that `System.stacktrace` has been phased out in Elixir 1.10
So, with #251 the tests pass and a few koans I tried gave me no errors.

[2020-06-04 17:55] kknives commented on #250
It should work now

[2020-06-10 11:40] #250 closed

[2020-08-19 07:13] foucist commented on #231
I ended up fixing the deprecation warning in #253 by adding a couple of helper functions in order to keep the existing koan.  I guess it hints at the Range struct without potentially getting in the way of the learning path?

[2020-08-19 19:13] #245 closed

[2020-11-01 09:33] Snake-Sanders opened #257 "help with koan "15 processes: Waiting for a message can get boring""
Hi,

I am starting with Elixir koans and I kind of got stuck in the koan: "15 processes: Waiting for a message can get boring".
I don't know how to solve this koan, thus I ask for a kind soul to help me. :)

My first assumption was that if nothing was receive then the expected value was null/nil. But this does not work as you can see below.

[code]

Then seen the expected result I was assuming tha

[2020-11-01 17:58] Snake-Sanders commented on #257
Alright, I understood how the result should look like by doing the following koans.
Here is how I solved it, in case somebody else has troubles:

    assert_receive {:waited_too_long, "I am impatient"}

I am closing this issue

[2020-11-01 17:58] #257 closed

[2021-04-07 12:11] mingyar opened #261 "Question on Patern Matching"
Hi! Could someone help me on that?

I'm trying to solve that one, it seems to be right but is not passing:

The original code is:
[code]

And I'm trying that:

[code]

Then the output is like "still the same":

Maybe I'm not understanding that structure calling an anonymous function.

I already had tested on my terminal doing just:

`
[a, b, c] = [1, 2, 3]
`

And it seems to be right.

[2021-04-07 12:21] iamvery commented on #261
@mingyar the general pattern for the koans is to replace the `___` with an answer/solution, so in this case, it's trying to teach you the error that is raised by the body of the function. Does that help?

[2021-04-07 12:33] mingyar commented on #261
@iamvery Gotcha!

So do I need just to provide the correct exception name at ___, right?

[2021-04-07 12:36] iamvery commented on #261
You got it 👍 Leave the other code unchanged, `[a,b] = [1,2,3]`

[2021-04-07 12:36] #261 closed

[2021-04-07 12:45] mingyar commented on #261
@iamvery I tried to fix:

[code]
But it seems still no pass:

Now meditate upon PatternMatching
|================> | 119 of 209

Lists must match exactly
Assertion failed in lib/koans/12_pattern_matching.ex:44
Expected exception “MatchError (no match of right hand side value: [1, 2, 3])” but got MatchError (no match of right hand side value: [1, 2, 3])

[2021-04-07 13:23] mingyar commented on #261
Ok.

Just solved doing:

koan "Lists must match exactly" do
    assert_raise MatchError, "no match of right hand side value: [1, 2, 3]", fn ->
      [a, b] = [1, 2, 3]
    end
end

Thanks for helping

[2021-04-07 13:24] iamvery commented on #261
Glad you worked it out :)

[2021-09-05 15:12] briankung opened #264 "Koans might be more educational when inverted"
Hi, just a thought because I'm halfway through the koans and I'm pretty sure that I have missed a lot of class (?) functions because I wasn't writing them. The asserts might be more educational when inverted, i.e. instead of:

[code]

it was:

[code]

Or something similar, so that when adding an answer, your eyes are drawn to the function being used.

Anyway, lovely resource, thanks for maintainin

[2021-09-13 12:27] iamvery commented on #264
Thanks for the suggestion! Very interesting idea 💡

I would say that generally speaking, the goal of lessons like this is to encourage the learner to seek out the documentation for what is not understand and use that to produce an answer. The convenient thing about _pure_ functions is that they are deterministic (did I get that right?). That is, in this example, there is exactly one result that is

[2021-10-09 11:56] briankung opened #266 "Match failure in 15_processes.ex - ex_unit_no_meaningful_value"
Something isn't matching in Processes 173
Here's my code:

[code]

And here's what I get:

[code]

Interestingly, even if I change it to really forgiving match arms, it still gives me `:ex_unit_no_meaningful_value`:

[code]

I'm on macOS and Elixir version 1.12.2 with Erlang/OTP 24. Any help would be appreciated!

[2021-10-17 08:50] Goutte opened #268 "Koan about rounding pitfalls"
I love these koans !

Is it relevant to drop a word of caution regarding rounding?

[code]

[2021-10-24 20:10] cmcaine opened #269 "Should the koans prefer `in/2` over `member?/2`?"
These koans use `Enum.member?` and `MapSet.member?`. I only know a little Elixir, but as far as I can tell these offer no benefit over `in/2` (they're the same speed and give the same results).

Similarly, `MapSet.equal?/2` is used instead of `==/2`, but it doesn't need to be.

Would you accept a PR that changed lines like

[code]

into

[code]

?

Thanks for writing/maintaining these koans!

[2022-01-27 14:49] iamvery opened #270 "Fix failing tests & consider adding CI"
# Problem

There are a few failing tests in the project on `master` currently. Those should be easy to address, but we may consider adding a CI to the project to avoid these going unnoticed and increase confidence in changes to the koans moving forward.

[2022-02-10 14:00] #270 closed

[2022-04-21 19:11] iamvery commented on #266
Hey Brian, _very_ late reply here 😅 . Can you try this again? Some changes were made in #271 that may address the problem you were seeing.

[2022-04-21 19:13] briankung commented on #266
Thanks for coming back to notify me! I've since moved on, but I'll try to run this when I get a chance.

[2022-04-25 13:09] iamvery commented on #266
I see, it's because the value given to [`assert_receive`](https://hexdocs.pm/ex_unit/ExUnit.Assertions.html#assert_receive/3) is used for a match. Since the pattern match fails, you get a pretty crummy error message. I'll add a failure message to the call which may help clear it up. PR incoming

[2022-05-02 06:55] #266 closed

[2022-05-02 13:47] briankung commented on #266
Wow, I had a question mark in there this whole time? 🤦‍♂️ thanks for the hint and the PR!

[2022-05-25 06:24] sharno opened #274 "Trying to run mix deps.get throws an error for OTP 25"
Elixir 1.13.x
erlang/OTP 25

[code]

[2022-05-25 06:26] sharno commented on #274
I removed `.mix` folder in the home directory and reran the command and it ran without errors

[2022-05-25 06:26] #274 closed

[2022-06-14 06:08] EB-Plum opened #275 "weird answer for process koan about message queue"
https://github.com/elixirkoans/elixir-koans/blob/f5e3f75448e9a44bb3445d670f65ed37a216c792/lib/koans/15_processes.ex#L62-L68
[code]

i tried wrong answer(?), but somehow it passed.
is this just my fault? or `assert_receive` acting weird?

[2022-06-21 05:42] EB-Plum commented on #275
https://hexdocs.pm/ex_unit/1.13/ExUnit.Assertions.html#assert_receive/3
according to doc, it seems `assert_receive` is not considering message order.
it only checks if message was delivered or not.

just in case,  if anyone like me want to see the queue. try code below.
[code]

[2022-06-21 05:42] #275 closed

[2022-06-21 15:10] iamvery commented on #275
👀 #276